@media (min-width: 320px) and (max-width: 900px)
{
    .mobile-hidden-important{
        display: none !important;
    }

    .mobile-hidden{
        display: none
    }

    main.default{
        min-height: 320px;
        width: 100%;
        margin: 10px auto;
        overflow: hidden;

    }





}