<template>
  <section>
    <diplomacity-menu-component/>
    <h1>Жалобы</h1>
    <TheInProgress/>

    <pre>
      ---
      {{test}}
      ---
    </pre>
    <button @click="send">Тест</button>

  </section>
</template>

<script>
import TheInProgress from "../../components/TheInProgress";
import DiplomacityMenuComponent from "../../components/DiplomacityMenuComponent";
export default {
  name: "complaints",
  components: {DiplomacityMenuComponent, TheInProgress},

  data(){
    return{
      test:false
    }
  },

  methods:{

    async send()
    {

    const result = await $fetch('/v1/everydays', { parseResponse: JSON.parse })

      this.test = result
      console.log(result)
    }


  }

}
</script>

<style scoped>

</style>