<template>
  <section>
    <diplomacity-menu-component/>
    <h1>Архив жалоб</h1>
    <TheInProgress/>

  </section>
</template>

<script>
import TheInProgress from "../../components/TheInProgress";
import DiplomacityMenuComponent from "../../components/DiplomacityMenuComponent";
export default {
  name: "dip-archive",
  components: {DiplomacityMenuComponent, TheInProgress}
}
</script>

<style scoped>

</style>