<template>
  <div class="page-kos-list">
    <diplomacity-menu-component/>

    <h1>Кос-лист</h1>

    <table>
      <thead>
        <tr>
          <th>Ник</th><th>Класс</th><th>Причина</th><th  class="mobile-hidden">Старые ники</th><th>Статус</th><th class="mobile-hidden">Стоимость выхода</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items" class="attack" v-if="items!=false" @click="add=item">
          <td>{{item.nick}}</td>
          <td>{{item.klass}}</td>
          <td style="width: 30%">{{item.short_cause}}</td>
          <td  class="mobile-hidden">{{item.old_nick}}</td>
          <td  :class="[item.status=='Активный'?'text-red':item.status=='Пассивный'?'text-orange':'text-yellow']">{{item.status}}</td>
          <td class="mobile-hidden" v-if="item.cost==false">Индивидуально</td>
          <td class="mobile-hidden" v-else> {{item.cost}}</td>

        </tr>
<!--add:{nick:"", klass:"", short_cause:"", cost:"", old_nick:"", status:""},-->


      </tbody>


    </table>
    <fieldset v-if="useRole().value >= 10">
      <input type="text" v-model="add.nick" placeholder="Ник">
      <select v-model="add.klass">
        <option>Воин</option>
        <option>Маг</option>
        <option>Стрелок</option>
        <option>Друид</option>
        <option>Оборотень</option>
        <option>Странник</option>
        <option>Лучник</option>
        <option>Паладин</option>
        <option>Жрец</option>
        <option>Убийца</option>
        <option>Шаман</option>
        <option>Страж</option>
        <option>Мистик</option>
        <option>Жнец</option>
        <option>Призрак</option>
      </select>
      <textarea type="text" v-model="add.short_cause" placeholder="Причина"></textarea>
      <input type="text" v-model="add.old_nick" placeholder="Старые ники">

      <select v-model="add.status" >
        <option value="Активный" selected>Активный</option>
        <option value="Пассивный">Пассивный</option>
        <option value="На рассмотрении">На рассмотрении</option>
        <option value="Вынесен">Вынесен</option>
        <option value="Архивный">Архивный</option>
      </select>
      <input type="text" v-model="add.cost" placeholder="Стоимость выхода">
      <button @click="save">Сохранить</button>
    </fieldset>

    <div class="description">
      <h3>Квалификация причин внесения в Кос-лист:</h3>
      <ol>
        <li>За единичный/случайны агр - возврат потерянных ценностей и извинения.</li>
        <li>За редкие агры, не доставляющие неудобств -  стоимость исключения из Кос-листа 15кк.</li>
        <li>За частые агры, доставление неудобств клану от 30кк (на усмотрение Совета офицеров).</li>
        <li>За выкрики в мир с ложной информацией о ГИ и/или офицерском составе от 10кк (на усмотрение Совета офицеров) за зарегистрированный день. </li>
        <li>За оскорбления в мир/горн ГИ и/или офицерского состава от 30кк (на усмотрение Совета офицеров) за зарегистрированный день.</li>
      </ol>
      <h3>Квалификация статусов:</h3>
      <ul>
        <li><b class="text-red">Активный</b> - наблюдаются частые / периодические агры / оскорбления, либо сумма выхода из Кос-листа превышает 100кк или слишком большой моральный ущерб.</li>
        <li> <b class="text-orange">Пассивный</b> - агры происходят крайне редко или же практически отсутствуют.</li>
        <li><b class="text-yellow">На рассмотрении</b> - агры/выкрики в мир давно не наблюдались (свыше 60 дней) и незначительная степень причины внесения.</li>
        <li><b class="text-green">Вынесен</b> - персонаж вынесен из коса по причине неактивности/выхода из коса в течении 30 дней.</li>
        <li><b class="text-grey">Архивный</b> - персонаж не производил повторных нападений/оскорблений после вынесения из Кос-листа в течении 30 дней.</li>
      </ul>
    </div>
  </div>
</template>

<script setup>
import DiplomacityMenuComponent from "../../components/DiplomacityMenuComponent";

useHead({
  title:"ГИ StartUP | Кос-лист",
  meta:[
    { property: 'og:title', content: 'ГИ StartUP | Кос-лист' }
  ]


})
</script>

<script>
export default {
  name: "kos",
  data() {
    return {
      clean:{nick:"", klass:"Воин", short_cause:"", cost:"", old_nick:"", status:"Активный"},
      add:{nick:"", klass:"Воин", short_cause:"", cost:"", old_nick:"", status:"Активный"},

      items:false,

      list:[
        {nick:"PON]TIUS", klass:"Воин", short_cause:"Собственное желание, выкрики в мир (п.4).", cost:"45кк", old_nick:"", status:"Активный"},
        {nick:"ВараБей", klass:"Воин", short_cause:"Агры вне FreePVP", cost:"30кк", old_nick:"", status:"Активный"},
        {nick:"Wolverin", klass:"Ассасин", short_cause:"Агры вне FreePVP", cost:"60кк", old_nick:"", status:"Активный"},
        {nick:"РuкГраймс", klass:"Ассасин", short_cause:"Агры, оскорбления в мир, создание фейковых ГИ StartUP, TimeLapse, а так же ника мастера, с целью подставить клан, оскорбления и распространение ложной информации в соц. сетях.", cost:false, old_nick:"грешен/THAG и пр.", status:"Активный"},
        {nick:"Люсuль", klass:"Жнец", short_cause:"Твин РuкГраймс", cost:false, old_nick:"Sovest` и пр.", status:"Активный"},
        {nick:"~MrWhite~", klass:"Призрак", short_cause:"Агры вне FreePVP", cost:false, old_nick:"", status:"Пассивный"},
        {nick:"ZAMVER", klass:"Палладин", short_cause:"Агры вне FreePVP", cost:false, old_nick:"", status:"Пассивный"},
        {nick:"(AltaiR)", klass:"Ассасин", short_cause:"Агры вне FreePVP, оскорбления в мир (п.5)", cost:"120кк", old_nick:"", status:"Активный"},
      ]
    }
  },
  mounted() {

    this.get();


  },
  methods: {

    async save(){
      const result = await $fetch('/v1/kos', {method:'POST', parseResponse: JSON.parse,  body:this.add})
      console.log(this.add)
      if(result.error == false) {
        this.get()
        this.add = this.clean
      }

    },
    async get()
    {
      const result = await $fetch('/v1/kos')

      if(result.error == false) {
        this.items = result.body
      }

    }


  }


}
</script>

<style scoped>
input,select, button, textarea{
  margin-top: 10px;
}
table{
  font-size: 0.8em;
}
h3{
  margin: 10px;

}
.description{
  margin: 30px;
}
b{
  font-weight: normal;
}
select{

  background-color: white;
  color:black;
}
fieldset{
  flex-wrap: wrap;

}
</style>