<template>
 <nav>
   <ul>
     <li class="animation-bg-box">
       <nuxt-link to="/diplomacity/kos" class="animation-bg-box" :class="{'router-link-active':$route.fullPath=='/diplomacity/kos'}">
         Кос-лист
       </nuxt-link>

     </li>
     <li class="animation-bg-box">
       <nuxt-link to="/diplomacity/complaints" class="animation-bg-box"  :class="{'router-link-active':$route.fullPath=='/diplomacity/complaints'}">
         Жалобы
       </nuxt-link>
     </li>
     <li class="animation-bg-box">
       <nuxt-link to="/diplomacity/dip-archive" class="animation-bg-box"  :class="{'router-link-active':$route.fullPath=='/diplomacity/dip-archive'}">
         Архив
       </nuxt-link>

     </li>



   </ul>
   <hr/>
 </nav>
</template>

<script>
export default {
  name: "DiplomacityMenuComponent"
}
</script>

<style scoped>

nav{
  margin-bottom: 10px;
}



ul{
  list-style: none;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 10px;
  color: white;

}
ul li {
  display: inherit;

  width: 35%;

  align-content: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 7px;
}
li:not(:last-child)
{
  border-right: 1px solid white;
}
a{
  display: inherit;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

</style>