<template>
  <section>
    <div @click="open=!open" v-if="user == false">Вход</div>
    <div @click="open=!open" v-else>{{user}}</div>

    <div v-if="open==true" class="open-auth-fields default-background">
      <fieldset v-if="user == false">
        Ввод токена:<br>
        <input type="text" placeholder="Ввести токен" v-model="token">
        <br>
        <button @click="sendToken()">Отправить</button>


      </fieldset>
      <div v-else class="">
        Пользователь: {{user}} <b @click="logout()" class="link">(Выйти)</b>
      </div>
      <button @click="open=false">Скрыть</button>
    </div>

  </section>
</template>
<script setup>
import {useRole, useUser} from "../composables/useUser";

const stt = useState('sho')
const user = useUser()
const role = useRole()

const cook = useCookie('XHFT', { domain:'.startup-clan.ru'});

function logout()
{
  user.value = false
  cook.value = '123'
  role.value = false
}

</script>

<script>
export default {
  name: "TheAuthorizationMini",
  data(){
    return{
      open:false,
      token:''
    }
  },


  mounted() {
    this.sendToken()
  },
  methods:{
    async sendToken()
    {

      const result = await $fetch('/v1/access', {headers: {'access-token':this.token}, parseResponse:JSON.parse})


      if(result.error == false)
      {
        this.user = result.body.user
        this.role = result.body.role
        this.open = false
      }


    },

  }


}
</script>

<style scoped>
.open-auth-fields{
  position: absolute;
  width: 200px;
  margin-left: -70px;
  padding: 5px 10px;
  border-radius: 10px;
  z-index:2;



}
</style>