<template>
  <div class="everydays-standart default-background animation-bg-box" v-if="items.error==false">

    <div><b>Ежа на {{items.body.date}} </b><br>
      Сегодня: {{items.body.today.name}}<br>
      Завтра: {{items.body.tommorow.name}}<br>
      Север: {{items.body.sever}}
    </div>



  </div>
</template>


<script setup>




  const { data: items, refresh } = useFetch('http://startup-clan.ru/v1/everydays')

  if(process.server)
  {

  }
  else
  {
  //  const res = useFetch('/v1/everydays')

  //  console.log(res)

  }









</script>

<script>
export default {
  name: "TheFooter",

  data(){
    return{
      items:{error:true}

    }
  },
  fetch({data}){

   const  {data:items} =  $fetch('/v1/everydays')

    console.log(this.items)
  },
  mounted() {



  },



}
</script>

<style scoped>
.everydays-standart{

  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.1em;
  height: 3em;
  width: fit-content;
  padding: 55px 20px;
  color: white;

}
@media (min-width: 320px) and (max-width: 900px){
  .everydays-standart{
    display: none;
  }
}

</style>