<template>
  <section>
    <h1>Данный раздел находится в разработке.</h1>
    <div class="ups">
      <h2>Огорчения случаются</h2>
      <img src="/images/others/zatochka_0.png"/>

    </div>

  </section>
</template>

<script>
export default {
  name: "TheInProgress"
}
</script>

<style scoped>
h1{
  font-size: 3em;
  margin-top: 10%;
}
.ups{
  margin: 0 auto;
  width: 250px;
  text-align: center;
}
</style>