<template>
  <header class="main-menu">
    <h2 class="animation-bg-box"><nuxt-link class="animation-bg-box" to="/">StartUP</nuxt-link></h2>
    <div class="empty"></div>
    <nav>
      <nuxt-link class="animation-bg-box" to="/ustav" >
        <div class="icon" style="background-image: url('/images/icons/ustav_2.png')"></div>
        Устав

      </nuxt-link>
      <nuxt-link  class="" to="/diplomacity/kos" :class="{'router-link-active':$route.fullPath.indexOf('/diplomacity/')>=0}">
        <div class="icon animation-bg-box" style="background-image: url('/images/icons/kos.png')"></div>
        Дипломатия
      </nuxt-link>
      <nuxt-link  class="" to="/terms" >
        <div class="icon animation-bg-box" style="background-image: url('/images/icons/guild.png')"></div>
        Приём
      </nuxt-link>

      <nuxt-link class="animation-bg-box" to="/contacts">
        <div class="icon" style="background-image: url('/images/icons/contacts.png')"></div>
        Контакты</nuxt-link>
      <nuxt-link to=""><TheAuthorizationMini/></nuxt-link>
    </nav>
  </header>
</template>

<script>
import TheAuthorizationMini from "./TheAuthorizationMini";
export default {
  name: "TheMainMenuOnVideo",
  components: {TheAuthorizationMini},
  data() {
    return {}
  },
  mounted() {
  },
  methods: {}


}
</script>

<style scoped>
header {
/*  position: fixed;*/
  width: 100%;
  text-align: center;
  color: white;
  transition: .4s;
  display: inline-flex;
}
header:hover {
  background: rgba(255,255,255,0.1);
  /*color: #000;
  text-shadow: 1px 1px 1px white;*/
}
h2 {

  text-align: center;
  font-size: 3.5rem;
  margin: 10px 10px;
  width: 200px;
  letter-spacing: .5rem;

}
h2 a{
  font-family: BeaumarchaisC;
  color: white !important;
}
nav{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  font-size: 1.3em;
  line-height: 2em;
  text-align: center;
  display: inherit;
  align-items: center;
}
.router-link-active{
  color: rgb(255,73,0);
}

nav a:hover{
 color: rgb(255,73,0);
}
header > .empty{
  width: 10%;
}
.icon{
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}


@media (min-width: 320px) and (max-width: 900px)
{
  header, header:hover{
    background-color: transparent;
  }
  h2{
    width: 100%;
  }
  .empty{
    display: none;
  }

  nav{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width:100%;
    background: var(--default-gradient-background);
    z-index: 2;
    font-size: 0.7em;
    animation: 6s shadow_text infinite;
    justify-content: space-around;
  }
  nav a{
    line-height: normal;
    padding: 5px 1em;
    display: block;
  }
  .icon{

    width: 32px;
    height: 32px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
  }



}

</style>