<template>
  <section>
    <h2>Запрет приема в клан.</h2>

    <fieldset>
      <input type="text" v-model="search" placeholder="Быстрый поиск">
    </fieldset>
    <table>
      <thead>
        <tr>
          <th v-if="item_add==false">№</th>
          <th>Ник</th>
          <th >Класс</th>
          <th>Комментарий</th>
          <th v-if="item_add!=false"></th>
          <th v-else>Ссылка pwobs (не 100%)</th>
        </tr>

      </thead>
      <tbody>
      <tr v-if="item_add!=false" >
        <th><input type="text" v-model="item_add.nick">
        </th>
        <th>
          <select v-model="item_add.class">
            <option selected>Воин</option>
            <option>Маг</option>
            <option>Стрелок</option>
            <option>Друид</option>
            <option>Оборотень</option>
            <option>Странник</option>
            <option>Лучник</option>
            <option>Паладин</option>
            <option>Жрец</option>
            <option>Убийца</option>
            <option>Шаман</option>
            <option>Страж</option>
            <option>Мистик</option>
            <option>Жнец</option>
            <option>Призрак</option>
          </select>
        </th>
        <th><textarea type="text" v-model="item_add.comment"> </textarea></th>
        <th><button @click="save">Сохранить</button></th>
      </tr>
      <tr>
        <td colspan="4">
          <button v-if="item_add==false" @click="item_add = Object.assign({},item_add_clean)">Добавить персонажа</button>
          <button v-else @click="item_add = false">отменить добавление</button>
        </td>
      </tr>

      <tr v-for="(item, index)  in items_active">



        <td v-if="item_add==false">{{item.id}}</td>

        <td>{{item.nick}}</td>
        <td>{{item.class}}</td>
        <td>{{item.comment}}</td>
        <td v-if="item_add!=false"></td>
        <td v-else> <a :href="'https://pwobs.ru/players?nickname='+ item.nick + '&server=&class=&gender='" target="_blank">Ссылка</a></td>
      </tr>




      </tbody>

    </table>

  </section>
</template>

<script>
export default {
name: "TheReceptionBan",
  data(){
  return{
    items:false,
    item_add:false,
    item_add_clean:{nick:'', comment:'', class:'Воин'},
    search:''

  }
  },
  computed:{
    items_active(){
      let items = {}
      if(this.items != false)
      for (let key in this.items){
        let item = this.items[key]
        if(item.nick.indexOf(this.search)>=0 || item.comment.indexOf(this.search)>=0 || item.class.indexOf(this.search)>=0)
        {
          items[key] = item

        }

      }

      return items
    }

  },
  mounted() {
  this.get()


  },

  methods: {

    async save(){
      const result = await $fetch('/v1/reception', {method:'POST', parseResponse: JSON.parse,  body:this.item_add})

      if(result.error == false) {
        this.get()
        this.item_add = Object.assign({},this.item_add_clean)
      }

    },
    async get()
    {
      const result = await $fetch('/v1/reception')

      if(result.error == false) {
        this.items = result.body
      }

    }


  }


}
</script>

<style scoped>
fieldset{

  margin: 0 auto;
  width:100px;
  margin-top: 10px;
}
h2{
  text-align: center;
}
table{

  width: 600px;
  margin: 0 auto;
}
</style>