<template>
 <div class="video">
   <div class="background" :class="{'video_off_animate':!video_show}">

   </div>
   <video v-if="video_show" src="/dragon.mp4"  @ended="stopped" id="myVideo" autoplay muted poster="/background2.jpg"></video>

 </div>
</template>

<script setup>
const stt = useState('sho', ()=>true)
</script>

<script>
export default {
  name: "TheVideoBackground",
  data() {
    return {
      video_show:false,
      show_title:false
    }
  },

  mounted() {

    if(useCookie('show_video').value != false) {
      this.video_show = true;
      this.show_title = false;
      this.stt = false
    }


  },
  methods: {
      stopped()
      {
        this.video_show=false
        useCookie('show_video').value = false
        this.stt = true
      }


  }


}
</script>

<style scoped>
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.video{
  background-color: black;
}
.background{
  background-color: black;
  background: url("/background2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

</style>