
@font-face {
    font-family: 'BeaumarchaisC';
    src: url('/fonts/beaumarchaisc/beaumarchaisc.woff2');
}

@font-face {
font-family: 'MS';
src: url('/fonts/MicrosoftSansSerif.woff2');
}

.white__shadow{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
