fieldset{
    border: none
}
input, select{
    line-height: 2em;
    border-radius: 7px;
    padding: 0 5px;
    margin-right: 10px;
    height: 2em;
}
textarea{
    border-radius: 7px;
    padding: 0 5px;
    margin-right: 10px;
}
select{
    line-height: 4em;
    height: 2.2em;
}
button{
    line-height: 1.2em;
    padding: 5px 10px;
    border-radius: 7px;

}
button:hover{
cursor: pointer;

}