*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
    box-sizing: border-box;
}

.default-background{
    background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
    background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
    color: white;

}
main.default{
    background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
    background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
    color: white;
    margin-top: 10px;
    overflow: hidden;
}

main.default{
    background-color: rgba(255,255,255,0.4);
    max-width: 1200px;
    min-height: 700px;
    border-radius: 10px;

    margin: 10px auto;

}
a:visited{
    text-decoration: none;

}

a:hover, a:visited:hover{
    cursor: url(/images/icons/hand.cur), auto;
    color: var(--link-hover);

}
.router-link-active, a:visited.router-link-active{
    text-decoration: none;
    color: var(--link-hover);
}

.router-link-exact-active
{
    text-decoration: none;
    color: var(--link-hover);
}
h1{
    text-align: center;
    margin-bottom: 10px;
}

/**
Стили для таблиц по умолчанию
 */
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table td{
    border-bottom: 1px solid grey;
    padding: 5px;
}
table tr:hover{
    background-color: grey;
    transition: background-color 0.5s ease;
}
table th{
    border-bottom: 2px solid rgba(128, 128, 128, 0.7);
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
/**

 */

.text-red{color: red}
.text-green{color: green}
.text-orange{color: orange}
.text-yellow{color: yellow}
.text-grey{color: grey}
.link:hover{
    cursor: pointer;
    color: var(--link-hover)

}
/**
АНИМАЦИИ
 */

.animation-bg-box{
    animation: 6s shadow_text infinite;
}
@keyframes shadow_text {
    0%{filter: drop-shadow(5px 0px 30px red)}
    50%{filter: drop-shadow(5px 10px 10px red);}
    100%{filter: drop-shadow(5px 0px 30px red)}
}

