:root {
    --default-gradient-background: linear-gradient(45deg,#292929 25%,transparent 0,transparent 75%,#292929 0),linear-gradient(45deg,#292929 25%,transparent 0,transparent 75%,#292929 0) .1875em .1875em,radial-gradient(at 50% 0,#484847,#090909);
    --mobile-resize-size-min: 320px;
    --mobile-resize-size-max: 900px;
    --link-hover:#ff4900;
    --link-default: white;


    cursor: url(/images/icons/normal.png), auto;

}


.attack:hover{
    cursor: url(/images/icons/attack.cur), auto;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:white;
}
hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-image:      linear-gradient(to left, rgba(250,250,250,0), rgba(250,250,250,0.75), rgba(250,250,250,0));
}