<template>
  <div>
    <TheVideoBackground/>
    <TheMainMenuOnVideo/>
    <main :class="{'default':$route.fullPath!='/'}">
      <div class="back"></div>
      <div class="sidebar-left"></div>

      <div class="page-content">

        <NuxtPage/>
      </div>
    </main>

    <div style="height: 5em"></div>
    <TheFooter/>
    <TheSettings/>
  </div>
</template>
<script setup>

const stt = useState('sho')
import TheSettings from "../components/TheSettings";

useHead({
  meta:[
    { property: "vk:image", content: "https://startup-clan.ru/og_vk.jpg" },
    { property: "og:image", content: "https://startup-clan.ru/og_vk.jpg" },

    { property: "og:type", content: "website" },
    { property: "og:description", content: "ПВЕ гильдия StartUP, сервер Саргас." },
    { property: "og:url", content: "https://startup-clan.ru" },
    { property: "og:site_name", content: "сервер Саргас" }

  ],
  link: [
    { rel: 'icon', type: 'image/x-icon', href: '/favicon.png' }
  ]

})

</script>
  <script>
  export default {


  mounted() {

  }

  }

  </script>
<style scoped>

body {
  margin: 0;
  background: #000;
  background-size: cover;

}




</style>