<template>
  <div>
    <TheVideoBackground/>
    <TheMainMenuOnVideo/>
    <main>
      <NuxtPage/>
    </main>
    <the-footer/>

  </div>
</template>
<script setup>

useHead({
  meta:[
    { property: "vk:image", content: "https://startup-clan.ru/og_vk.jpg" },
    { property: "og:type", content: "website" },
    { property: "og:description", content: "ПВЕ гильдия StartUP, сервер Саргас." },
    { property: "og:url", content: "https://startup-clan.ru" },
    { property: "og:site_name", content: "сервер Саргас" }

  ]
})


</script>
<script>


import TheFooter from "../components/TheFooter";
export default {
  name: "videos",
  components: {TheFooter},
  data() {
    return {}
  },
  mounted() {

  },
  methods: {}


}
</script>

<style scoped>

body {
  margin: 0;
  background: #000;
  background-size: cover;
}
</style>