<template>
  <div>

    <h1>Контакты</h1>

    <table>
      <tbody>
      <tr>
        <td>
          <a class="std_link" href="https://vk.com/pwstartup" target="_blank">
            <i class="icon_vk" v-html="vk"></i>
            <div class="center">Группа Вконтакте (группа, беседка, фоточки и прочая социалочка): </div>

          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a class="std_link" href="ts3server://startup.vts3.ru">
            <i class="icon_teamspeak" v-html="ts3"></i>
            <div class="center">Teamspeak3 (голосовое общение): </div>

          </a>
        </td>
      </tr>
      <tr>
        <td>
          <nuxt-link to="/instructions/teamspeak" class="std_link">
            <div class="center">Инструкция по настройке TeamSpeak3</div>
          </nuxt-link>
        </td>
      </tr>
      <tr class="games">
        <br><br>
        <div>В игре (ники копирабельны):</div>
        <div v-for="(nick, rang) in officers"> {{nick}} - {{rang}}</div>
      </tr>

      </tbody>
    </table>


  </div>
</template>
<script setup>
useHead({
  title:"ГИ StartUP | Контакты",
  meta:[
    { property: 'og:title', content: 'ГИ StartUP | Контакты' }
  ]

})
</script>

<script>
export default {
  name: "contacts",
  data() {
    return {
      vk:'<svg xmlns="http://www.w3.org/2000/svg" style="width: 50px; height:50px" aria-label="VK" role="img" viewBox="0 0 512 512"><rect width="512" height="512" rx="15%" fill="#5281b8"/><path fill="#fff" d="M274 363c5-1 14-3 14-15 0 0-1-30 13-34s32 29 51 42c14 9 25 8 25 8l51-1s26-2 14-23c-1-2-9-15-39-42-31-30-26-25 11-76 23-31 33-50 30-57-4-7-20-6-20-6h-57c-6 0-9 1-12 6 0 0-9 25-21 45-25 43-35 45-40 42-9-5-7-24-7-37 0-45 7-61-13-65-13-2-59-4-73 3-7 4-11 11-8 12 3 0 12 1 17 7 8 13 9 75-2 81-15 11-53-62-62-86-2-6-5-7-12-9H79c-6 0-15 1-11 13 27 56 83 193 184 192z"/></svg>',
      ts3:'<svg width="100%" height="100%" viewBox="0 0 440 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,3,0)"><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><circle cx="27.371" cy="59.999" r="20.15" style="fill:url(#_Linear1);"/></g><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><path d="M27.371,39.849C38.492,39.849 47.521,48.878 47.521,59.999C47.521,71.12 38.492,80.149 27.371,80.149C16.25,80.149 7.221,71.12 7.221,59.999C7.221,48.878 16.25,39.849 27.371,39.849ZM27.371,41.108C37.797,41.108 46.262,49.573 46.262,59.999C46.262,70.425 37.797,78.889 27.371,78.889C16.945,78.889 8.481,70.425 8.481,59.999C8.481,49.573 16.945,41.108 27.371,41.108Z" style="fill:url(#_Linear2);"/></g><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><circle cx="27.371" cy="59.999" r="15.112" style="fill:rgb(77,202,237);"/></g><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><circle cx="27.371" cy="59.999" r="13.853" style="fill:url(#_Linear3);"/></g><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><circle cx="27.371" cy="59.999" r="10.39" style="fill:rgb(183,189,210);"/></g><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><path d="M51.492,23.136C52.055,23.482 52.56,23.855 52.988,24.252C58.328,29.209 60.969,34.075 62.45,40.841C63.758,46.819 64.386,49.714 61.244,51.894C57.003,54.837 65.775,67.412 67.486,71.051C65.225,73.951 62.277,73.888 60.719,74.692C59.855,75.137 60.212,76.786 60.352,78.056C60.489,79.299 61.634,80.081 61.006,81.044C60.443,81.907 58.316,81.969 57.392,82.563C58.281,83.542 60.258,84.524 59.998,85.797C59.798,86.78 57.58,86.607 56.726,88.845C56.268,90.044 56.504,92.268 55.558,93.391C54.126,95.089 52.65,95.867 50.53,96.062C49.396,96.183 48.249,96.064 47.164,95.711C43.639,94.552 40.362,92.885 37.407,90.808C38.618,91.011 39.935,91.201 41.323,91.355C45.347,91.802 47.369,91.416 49.301,89.124C50.133,88.137 49.925,86.182 50.328,85.127C51.079,83.16 53.029,83.312 53.205,82.447C53.434,81.328 51.696,80.465 50.914,79.603C51.726,79.082 53.597,79.027 54.092,78.268C54.644,77.421 53.637,76.734 53.517,75.64C53.394,74.524 53.079,73.074 53.839,72.683C55.209,71.976 57.801,72.032 59.789,69.482C58.285,66.282 50.572,55.225 54.301,52.637C57.064,50.721 56.511,48.175 55.361,42.919C54.059,36.97 51.736,32.691 47.041,28.332C46.028,27.392 44.526,26.606 42.852,26.029C45.578,24.729 48.476,23.75 51.492,23.136Z" style="fill:url(#_Linear4);"/></g><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><path d="M60,22.399C60.797,22.421 61.598,22.468 62.402,22.541C83.079,24.419 98.341,42.731 96.463,63.407C94.731,82.479 79.017,96.945 60.361,97.601C60.628,97.391 60.883,97.164 61.124,96.916C62.719,95.275 63.023,93.301 63.299,91.286C63.443,90.265 64.212,90.188 64.868,89.81C67.714,88.168 66.506,84.377 66.506,84.377C67.337,83.742 67.932,82.812 68.112,81.792C68.366,80.353 67.391,79.119 67.186,77.466C67.582,77.354 67.978,77.24 68.369,77.112C71.569,76.063 75.953,73.518 74.295,70.078C72.454,66.259 69.898,62.651 68.222,58.683C67.567,57.133 66.821,55.568 67.074,54.137C70.193,51.892 70.841,48.246 70.392,44.947C69.207,36.219 65.877,28.318 60,22.399Z" style="fill:rgb(209,209,224);"/></g><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><path d="M68.669,27.944C73.732,29.842 78.374,32.733 82.113,36.597C89.237,43.961 93.475,54.665 91.42,64.643C89.475,74.089 81.275,81.96 75.842,84.384C73.241,85.545 71.132,85.375 71.146,85.059C71.16,84.743 71.49,84.08 73.119,82.117C78.947,75.089 82.379,64.825 77.257,56.81C76.219,55.184 74.946,53.81 73.509,52.638C74.662,50.467 74.86,47.912 74.536,45.522C73.668,39.135 71.757,33.152 68.669,27.944Z" style="fill:url(#_Linear5);"/></g><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><path d="M58.106,8.281C39.803,18.267 27.371,37.693 27.371,59.999C27.371,63.531 27.683,66.991 28.28,70.349C27.981,70.375 27.678,70.389 27.371,70.389C21.637,70.389 16.981,65.733 16.981,59.999C16.981,42.767 23.287,26.997 33.717,14.871C40.953,10.806 49.261,8.431 58.106,8.281Z" style="fill:url(#_Linear6);"/></g><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><path d="M33.716,14.871C41.196,10.669 49.82,8.273 59,8.273C87.551,8.273 110.731,31.453 110.731,60.005C110.731,87.652 85.623,113.158 48.293,104.995L48.208,104.923C70.543,107.297 87.006,98.2 95.932,84.908L95.986,84.827C100.759,77.734 103.546,69.192 103.546,60.005L103.546,59.999C103.542,35.415 83.583,15.458 59,15.458C42.902,15.458 28.787,24.015 20.96,36.825C23.847,28.703 28.207,21.277 33.716,14.871Z" style="fill:rgb(148,162,193);"/></g><g transform="matrix(1.30256,0,0,1.30256,292.473,-10.7761)"><path d="M59,8.273C87.551,8.273 110.731,31.453 110.731,60.005C110.731,71.086 106.698,81.823 99.459,90.187C105.754,81.765 109.483,71.317 109.483,60.005C109.483,32.142 86.862,9.521 59,9.521C48.799,9.521 39.301,12.553 31.362,17.762C32.121,16.777 32.906,15.813 33.716,14.871C36.87,13.1 40.227,11.649 43.743,10.563L43.758,10.559L44.138,10.443L44.143,10.442L44.534,10.326L44.925,10.214L44.937,10.211L45.303,10.109L45.342,10.098L45.721,9.996C45.853,9.962 45.986,9.927 46.119,9.892L46.494,9.798L46.549,9.784L46.888,9.701L46.934,9.69L47.32,9.599L47.705,9.512L47.76,9.5L48.086,9.429L48.161,9.413L48.509,9.34L48.539,9.333L48.932,9.254L48.962,9.248L49.307,9.181L49.395,9.165L49.701,9.108L49.782,9.094L50.164,9.026L50.546,8.962L50.633,8.948L50.93,8.9L51.033,8.884L51.35,8.836L51.414,8.826L51.799,8.771L51.865,8.762L52.18,8.72L52.291,8.705L52.576,8.669L52.68,8.656L53.062,8.611L53.444,8.569L53.552,8.557L53.833,8.529L53.953,8.517L54.254,8.489L54.338,8.481L54.721,8.448L54.806,8.441L55.107,8.418L55.231,8.409L55.508,8.39L55.623,8.382L56.008,8.358L56.394,8.338L56.511,8.332L56.788,8.32L56.915,8.315L57.214,8.304L57.306,8.3L57.692,8.289L57.784,8.287L58.084,8.281L58.212,8.279L58.49,8.276L58.61,8.275L59,8.273Z" style="fill:rgb(183,189,210);"/></g></g><g transform="matrix(1,0,0,1,-3.293,0)"><g transform="matrix(3.27163,0,0,3.27164,-1629.99,-1218.34)"><path d="M501.877,385.162L503.732,385.162L503.732,387.488L502.834,387.488C502.439,387.502 502.184,387.57 502.069,387.693C501.954,387.815 501.89,388.08 501.877,388.488L501.877,401.105L501.876,401.105C501.127,401.105 500.335,400.99 499.853,400.5C499.371,400.009 499.227,399.039 499.227,398.503L499.227,380.678L501.877,380.678L501.877,385.162Z" style="fill:rgb(75,105,182);"/></g><g transform="matrix(84.4972,0,0,84.4975,20.8367,93.2258)"><path d="M0.136,-0.264L0.136,-0.123C0.136,-0.104 0.139,-0.091 0.144,-0.086C0.149,-0.08 0.16,-0.077 0.179,-0.077C0.197,-0.077 0.209,-0.08 0.214,-0.086C0.219,-0.091 0.222,-0.104 0.222,-0.123L0.222,-0.204L0.314,-0.204L0.314,-0.117C0.314,-0.089 0.312,-0.067 0.309,-0.05C0.305,-0.033 0.298,-0.02 0.288,-0.011C0.278,-0.002 0.264,0.003 0.247,0.006C0.229,0.009 0.206,0.01 0.178,0.01C0.149,0.01 0.125,0.009 0.106,0.006C0.087,0.003 0.073,-0.003 0.063,-0.012C0.052,-0.021 0.045,-0.033 0.042,-0.05C0.038,-0.067 0.036,-0.089 0.036,-0.117L0.036,-0.482C0.036,-0.51 0.038,-0.532 0.042,-0.549C0.045,-0.566 0.052,-0.579 0.063,-0.588C0.073,-0.596 0.087,-0.602 0.106,-0.605C0.125,-0.608 0.149,-0.609 0.178,-0.609C0.206,-0.609 0.229,-0.608 0.247,-0.605C0.264,-0.602 0.278,-0.597 0.288,-0.588C0.298,-0.579 0.305,-0.567 0.309,-0.55C0.312,-0.533 0.314,-0.51 0.314,-0.482L0.314,-0.264L0.136,-0.264ZM0.136,-0.346L0.222,-0.346L0.222,-0.474C0.222,-0.493 0.219,-0.506 0.214,-0.511C0.209,-0.516 0.197,-0.519 0.179,-0.519C0.16,-0.519 0.149,-0.516 0.144,-0.511C0.139,-0.506 0.136,-0.493 0.136,-0.474L0.136,-0.346Z" style="fill:rgb(75,105,182);fill-rule:nonzero;"/></g><g transform="matrix(84.4972,0,0,84.4975,50.3267,93.2258)"><path d="M0.172,0.01C0.144,0.01 0.121,0.009 0.104,0.007C0.086,0.004 0.072,-0.001 0.062,-0.009C0.052,-0.017 0.045,-0.029 0.042,-0.044C0.038,-0.059 0.036,-0.08 0.036,-0.106L0.036,-0.251C0.036,-0.287 0.043,-0.313 0.057,-0.33C0.07,-0.347 0.094,-0.355 0.127,-0.355L0.146,-0.355C0.169,-0.355 0.185,-0.354 0.194,-0.353C0.203,-0.351 0.21,-0.349 0.215,-0.346L0.215,-0.47C0.215,-0.491 0.212,-0.505 0.207,-0.512C0.202,-0.519 0.19,-0.522 0.173,-0.522C0.154,-0.522 0.142,-0.519 0.137,-0.512C0.132,-0.505 0.129,-0.491 0.129,-0.47L0.129,-0.411L0.036,-0.411L0.036,-0.482C0.036,-0.51 0.038,-0.533 0.042,-0.55C0.045,-0.567 0.052,-0.579 0.062,-0.588C0.072,-0.597 0.086,-0.602 0.103,-0.605C0.12,-0.608 0.143,-0.609 0.171,-0.609C0.2,-0.609 0.224,-0.608 0.243,-0.605C0.262,-0.602 0.276,-0.596 0.287,-0.588C0.297,-0.579 0.304,-0.566 0.308,-0.549C0.312,-0.532 0.314,-0.51 0.314,-0.482L0.314,-0C0.302,0.003 0.284,0.006 0.259,0.008C0.234,0.009 0.205,0.01 0.172,0.01ZM0.178,-0.074C0.197,-0.074 0.21,-0.075 0.215,-0.076L0.215,-0.272C0.21,-0.275 0.205,-0.276 0.198,-0.277C0.191,-0.278 0.184,-0.278 0.177,-0.278C0.166,-0.278 0.157,-0.277 0.151,-0.276C0.144,-0.275 0.139,-0.272 0.136,-0.268C0.133,-0.264 0.131,-0.259 0.13,-0.252C0.129,-0.245 0.129,-0.236 0.129,-0.225L0.129,-0.131C0.129,-0.118 0.129,-0.108 0.13,-0.101C0.131,-0.094 0.133,-0.088 0.136,-0.084C0.139,-0.08 0.144,-0.077 0.151,-0.076C0.158,-0.075 0.167,-0.074 0.178,-0.074Z" style="fill:rgb(75,105,182);fill-rule:nonzero;"/></g><g transform="matrix(84.4972,0,0,84.4975,80.1531,93.2258)"><path d="M0.146,-0L0.044,-0L0.044,-0.599L0.139,-0.599L0.139,-0.559C0.146,-0.574 0.158,-0.585 0.173,-0.593C0.188,-0.6 0.209,-0.604 0.236,-0.604C0.261,-0.604 0.281,-0.6 0.296,-0.593C0.311,-0.586 0.322,-0.573 0.329,-0.555C0.339,-0.574 0.352,-0.587 0.368,-0.594C0.384,-0.6 0.404,-0.604 0.429,-0.604C0.448,-0.604 0.464,-0.602 0.478,-0.598C0.491,-0.594 0.501,-0.587 0.509,-0.578C0.517,-0.568 0.523,-0.555 0.526,-0.54C0.529,-0.524 0.531,-0.505 0.531,-0.482L0.531,-0L0.429,-0L0.429,-0.471C0.429,-0.486 0.426,-0.497 0.421,-0.503C0.415,-0.509 0.404,-0.512 0.389,-0.512C0.373,-0.512 0.362,-0.509 0.356,-0.504C0.349,-0.499 0.344,-0.491 0.339,-0.482L0.339,-0L0.237,-0L0.237,-0.471C0.237,-0.486 0.234,-0.497 0.229,-0.503C0.223,-0.509 0.212,-0.512 0.197,-0.512C0.18,-0.512 0.169,-0.509 0.162,-0.504C0.155,-0.498 0.15,-0.49 0.146,-0.481L0.146,-0Z" style="fill:rgb(75,105,182);fill-rule:nonzero;"/></g><g transform="matrix(84.4972,0,0,84.4975,128.487,93.2258)"><path d="M0.221,-0.426L0.221,-0.471C0.221,-0.488 0.219,-0.5 0.214,-0.506C0.209,-0.511 0.196,-0.514 0.177,-0.514C0.158,-0.514 0.146,-0.511 0.141,-0.506C0.136,-0.5 0.134,-0.488 0.134,-0.471L0.134,-0.423C0.134,-0.414 0.135,-0.406 0.136,-0.401C0.137,-0.396 0.14,-0.391 0.143,-0.387C0.146,-0.382 0.151,-0.378 0.158,-0.375C0.165,-0.371 0.174,-0.367 0.185,-0.362C0.187,-0.361 0.191,-0.359 0.198,-0.356L0.242,-0.336C0.249,-0.333 0.255,-0.33 0.26,-0.327C0.273,-0.32 0.284,-0.313 0.292,-0.306C0.3,-0.299 0.306,-0.292 0.31,-0.285C0.314,-0.277 0.317,-0.269 0.318,-0.26C0.319,-0.251 0.32,-0.24 0.32,-0.229L0.32,-0.118C0.32,-0.09 0.318,-0.068 0.315,-0.051C0.311,-0.034 0.304,-0.021 0.294,-0.012C0.283,-0.003 0.269,0.003 0.251,0.006C0.232,0.009 0.208,0.01 0.178,0.01C0.149,0.01 0.125,0.009 0.106,0.006C0.087,0.003 0.073,-0.003 0.062,-0.012C0.051,-0.021 0.044,-0.034 0.04,-0.051C0.036,-0.068 0.034,-0.09 0.034,-0.118L0.034,-0.21L0.134,-0.21L0.134,-0.129C0.134,-0.111 0.137,-0.099 0.142,-0.094C0.147,-0.088 0.159,-0.085 0.178,-0.085C0.197,-0.085 0.209,-0.088 0.214,-0.094C0.219,-0.1 0.221,-0.112 0.221,-0.129L0.221,-0.202C0.221,-0.21 0.221,-0.217 0.22,-0.222C0.219,-0.227 0.217,-0.232 0.214,-0.236C0.211,-0.24 0.206,-0.244 0.201,-0.248C0.196,-0.251 0.188,-0.255 0.179,-0.259C0.171,-0.263 0.164,-0.266 0.157,-0.269C0.15,-0.272 0.144,-0.274 0.138,-0.277C0.131,-0.279 0.125,-0.282 0.118,-0.285C0.111,-0.288 0.104,-0.291 0.096,-0.296C0.083,-0.303 0.073,-0.309 0.065,-0.316C0.057,-0.323 0.051,-0.33 0.046,-0.339C0.041,-0.347 0.038,-0.357 0.037,-0.368C0.035,-0.379 0.034,-0.392 0.034,-0.408L0.034,-0.481C0.034,-0.509 0.036,-0.532 0.04,-0.549C0.044,-0.566 0.051,-0.579 0.062,-0.588C0.072,-0.596 0.086,-0.602 0.105,-0.605C0.124,-0.608 0.148,-0.609 0.178,-0.609C0.207,-0.609 0.231,-0.608 0.25,-0.605C0.269,-0.602 0.283,-0.596 0.294,-0.588C0.304,-0.579 0.311,-0.566 0.315,-0.549C0.318,-0.532 0.32,-0.509 0.32,-0.481L0.32,-0.426L0.221,-0.426Z" style="fill:rgb(209,209,224);fill-rule:nonzero;"/></g><g transform="matrix(84.4972,0,0,84.4975,158.397,93.2258)"><path d="M0.33,-0.117C0.33,-0.094 0.329,-0.074 0.326,-0.059C0.323,-0.043 0.319,-0.03 0.312,-0.021C0.305,-0.012 0.295,-0.005 0.283,-0.001C0.271,0.003 0.256,0.005 0.237,0.005C0.215,0.005 0.197,0.002 0.182,-0.004C0.167,-0.01 0.155,-0.021 0.146,-0.036L0.146,0.153L0.044,0.153L0.044,-0.599L0.139,-0.599L0.139,-0.555C0.148,-0.574 0.161,-0.587 0.177,-0.594C0.192,-0.601 0.211,-0.604 0.234,-0.604C0.253,-0.604 0.269,-0.602 0.282,-0.598C0.295,-0.594 0.305,-0.587 0.312,-0.578C0.319,-0.568 0.323,-0.555 0.326,-0.54C0.329,-0.524 0.33,-0.505 0.33,-0.482L0.33,-0.117ZM0.143,-0.117C0.148,-0.106 0.155,-0.098 0.162,-0.093C0.169,-0.088 0.179,-0.086 0.192,-0.086C0.207,-0.086 0.218,-0.09 0.223,-0.097C0.228,-0.103 0.231,-0.117 0.231,-0.136L0.231,-0.462C0.231,-0.481 0.228,-0.495 0.223,-0.502C0.218,-0.509 0.207,-0.512 0.192,-0.512C0.179,-0.512 0.169,-0.51 0.162,-0.505C0.155,-0.5 0.148,-0.492 0.143,-0.481L0.143,-0.117Z" style="fill:rgb(209,209,224);fill-rule:nonzero;"/></g><g transform="matrix(84.4972,0,0,84.4975,189.323,93.2258)"><path d="M0.136,-0.264L0.136,-0.123C0.136,-0.104 0.139,-0.091 0.144,-0.086C0.149,-0.08 0.16,-0.077 0.179,-0.077C0.197,-0.077 0.209,-0.08 0.214,-0.086C0.219,-0.091 0.222,-0.104 0.222,-0.123L0.222,-0.204L0.314,-0.204L0.314,-0.117C0.314,-0.089 0.312,-0.067 0.309,-0.05C0.305,-0.033 0.298,-0.02 0.288,-0.011C0.278,-0.002 0.264,0.003 0.247,0.006C0.229,0.009 0.206,0.01 0.178,0.01C0.149,0.01 0.125,0.009 0.106,0.006C0.087,0.003 0.073,-0.003 0.063,-0.012C0.052,-0.021 0.045,-0.033 0.042,-0.05C0.038,-0.067 0.036,-0.089 0.036,-0.117L0.036,-0.482C0.036,-0.51 0.038,-0.532 0.042,-0.549C0.045,-0.566 0.052,-0.579 0.063,-0.588C0.073,-0.596 0.087,-0.602 0.106,-0.605C0.125,-0.608 0.149,-0.609 0.178,-0.609C0.206,-0.609 0.229,-0.608 0.247,-0.605C0.264,-0.602 0.278,-0.597 0.288,-0.588C0.298,-0.579 0.305,-0.567 0.309,-0.55C0.312,-0.533 0.314,-0.51 0.314,-0.482L0.314,-0.264L0.136,-0.264ZM0.136,-0.346L0.222,-0.346L0.222,-0.474C0.222,-0.493 0.219,-0.506 0.214,-0.511C0.209,-0.516 0.197,-0.519 0.179,-0.519C0.16,-0.519 0.149,-0.516 0.144,-0.511C0.139,-0.506 0.136,-0.493 0.136,-0.474L0.136,-0.346Z" style="fill:rgb(209,209,224);fill-rule:nonzero;"/></g><g transform="matrix(84.4972,0,0,84.4975,218.815,93.2258)"><path d="M0.172,0.01C0.144,0.01 0.121,0.009 0.104,0.007C0.086,0.004 0.072,-0.001 0.062,-0.009C0.052,-0.017 0.045,-0.029 0.042,-0.044C0.038,-0.059 0.036,-0.08 0.036,-0.106L0.036,-0.251C0.036,-0.287 0.043,-0.313 0.057,-0.33C0.07,-0.347 0.094,-0.355 0.127,-0.355L0.146,-0.355C0.169,-0.355 0.185,-0.354 0.194,-0.353C0.203,-0.351 0.21,-0.349 0.215,-0.346L0.215,-0.47C0.215,-0.491 0.212,-0.505 0.207,-0.512C0.202,-0.519 0.19,-0.522 0.173,-0.522C0.154,-0.522 0.142,-0.519 0.137,-0.512C0.132,-0.505 0.129,-0.491 0.129,-0.47L0.129,-0.411L0.036,-0.411L0.036,-0.482C0.036,-0.51 0.038,-0.533 0.042,-0.55C0.045,-0.567 0.052,-0.579 0.062,-0.588C0.072,-0.597 0.086,-0.602 0.103,-0.605C0.12,-0.608 0.143,-0.609 0.171,-0.609C0.2,-0.609 0.224,-0.608 0.243,-0.605C0.262,-0.602 0.276,-0.596 0.287,-0.588C0.297,-0.579 0.304,-0.566 0.308,-0.549C0.312,-0.532 0.314,-0.51 0.314,-0.482L0.314,-0C0.302,0.003 0.284,0.006 0.259,0.008C0.234,0.009 0.205,0.01 0.172,0.01ZM0.178,-0.074C0.197,-0.074 0.21,-0.075 0.215,-0.076L0.215,-0.272C0.21,-0.275 0.205,-0.276 0.198,-0.277C0.191,-0.278 0.184,-0.278 0.177,-0.278C0.166,-0.278 0.157,-0.277 0.151,-0.276C0.144,-0.275 0.139,-0.272 0.136,-0.268C0.133,-0.264 0.131,-0.259 0.13,-0.252C0.129,-0.245 0.129,-0.236 0.129,-0.225L0.129,-0.131C0.129,-0.118 0.129,-0.108 0.13,-0.101C0.131,-0.094 0.133,-0.088 0.136,-0.084C0.139,-0.08 0.144,-0.077 0.151,-0.076C0.158,-0.075 0.167,-0.074 0.178,-0.074Z" style="fill:rgb(209,209,224);fill-rule:nonzero;"/></g><g transform="matrix(84.4972,0,0,84.4975,248.64,93.2258)"><path d="M0.243,-0L0.149,-0.308L0.145,-0.308L0.145,-0L0.044,-0L0.044,-0.79L0.145,-0.79L0.145,-0.378L0.149,-0.378L0.233,-0.599L0.344,-0.599L0.235,-0.349L0.357,-0L0.243,-0Z" style="fill:rgb(209,209,224);fill-rule:nonzero;"/></g></g><defs><linearGradient id="_Linear1" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.46766e-15,-40.3,40.3,2.46766e-15,27.3713,80.1487)"><stop offset="0" style="stop-color:rgb(75,105,182);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(67,94,165);stop-opacity:1"/></linearGradient><linearGradient id="_Linear2" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(5.28351e-07,-40.3,40.3,5.28351e-07,27.3713,80.1487)"><stop offset="0" style="stop-color:rgb(87,115,187);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(58,82,144);stop-opacity:1"/></linearGradient><linearGradient id="_Linear3" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(9.39767e-14,-27.7062,27.7062,9.39767e-14,27.3713,73.8518)"><stop offset="0" style="stop-color:rgb(34,178,231);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(23,122,158);stop-opacity:1"/></linearGradient><linearGradient id="_Linear4" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(4.43868e-15,-72.4891,72.4891,4.43868e-15,53.9789,94.874)"><stop offset="0" style="stop-color:rgb(75,105,182);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(67,94,165);stop-opacity:1"/></linearGradient><linearGradient id="_Linear5" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(3.33779e-15,-54.5103,54.5103,3.33779e-15,74.6579,85.2923)"><stop offset="0" style="stop-color:rgb(167,177,205);stop-opacity:1"/><stop offset="0.46" style="stop-color:rgb(200,203,220);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(209,210,224);stop-opacity:1"/></linearGradient><linearGradient id="_Linear6" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(19.4796,-60.8492,60.8492,19.4796,28.28,70.3492)"><stop offset="0" style="stop-color:rgb(183,189,210);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(96,123,182);stop-opacity:1"/></linearGradient></defs></svg>',
      officers:{
        "Морах":"Мастер",
        "С'estLaVi":"Маршал",
        "mest_nеt":"Капитан",
        "@GGRESSOR":"Капитан",
        "<<МАСИК>>":"Капитан",
      }



    }
  },
  mounted() {
  },
  methods: {}


}
</script>

<style scoped>
.games {
  text-align: left;
  margin-left: 20px;
  font-family: "Times New Roman";
  font-weight: normal;
  font-style: normal;
 margin-top: 10px;
  font-size: 1.2em;
}
.games div{
  margin-left: 20px;
}
table{
  width: 100%;
}
tr:hover{
  background-color: transparent;
}
table td{
  text-align: left;
  padding-left: 40px;
}
td div{
  margin-left: 20px;
  line-height: 3em;
  font-size: 1.1em;
}
td a{
  display: inline-flex;
}

</style>