<template>
  <div class="main-page-container">
   <div class="background_logo mobile-hidden"  v-if="show_logo==true && stt == true"></div>

    <div class="trebovaniya" :class="{'trebovaniya-up':stt}">
      <div>
        <div class="d1"><nuxt-link to="/terms">БХ 160+</nuxt-link></div>
      </div>
     <div>
       <div class="d2"><nuxt-link to="/terms"><div class="first">Хорошее <br> настроение</div><div class="second">Условия  <br> приема</div> </nuxt-link></div>
     </div>
      <div >
        <div class="d3"><nuxt-link to="/terms">100+ 2РБ</nuxt-link></div>
      </div>


   </div>

  </div>
</template>

<script setup>

const stt = useState('sho')

useHead({
  title:'ГИ StartUP, сервер Саргас',
  meta:[
    { property: 'og:title', content: 'Клан StartUP, сервер Саргас' }
  ]

})

</script>
<script>




// Главный код
definePageMeta({
 // layout: "videos",
});

export default {


  data(){
    return{
      show_logo:true

    }
  },
  watch:{

  },
  mounted(){

    const timer = setInterval(()=>{
      if(useCookie('show_video').value == false)
      {
        clearInterval(timer)
        this.show_logo = true
      }
      else
        this.show_logo = false
    }, 500)

  },
  methods:
  {



  }


}

</script>
<style>
 main:has(div){
 background: none;
}
.main-page-container{
  display: flex;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
}
.main-page-container h1{
  color: white;
  color: #b4b3b3;
  align-self: center;
  font-family: BeaumarchaisC;
  font-size: 15em;
  letter-spacing: 0.2em;
}

/*.main-page-container
*/
.background_logo{
  background: url("/logo.png");
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: 50%;
  /*filter: drop-shadow(5px 10px 20px red);*/
  /*animation: 5s shadow_text infinite ease-in-out;*/
  animation-name: bg, shadow_text;
  animation-duration: 1s, 6s;
  animation-iteration-count: 1, infinite;

  position: absolute;
  width: 100%;
  height: 100%;

}
 @keyframes bg {
   0%{background-size: 0}
   100%{background-size: 50%}
 }
@keyframes shadow_text {
  0%{filter: drop-shadow(5px 0px 30px red)}
  50%{filter: drop-shadow(5px 10px 10px red);}
  100%{filter: drop-shadow(5px 0px 30px red)}
}
.trebovaniya{
  display: flex;
  color:white;
  align-self: self-end;
  width: 60%;
  justify-content: space-between;
  margin-bottom: 0;
}
.trebovaniya-up{

  margin-bottom: 10%;
  transition: margin-bottom 1s ease-in;
}
 .trebovaniya > div >div{
   width: 300px;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
   color: white;
   font-size: 2em;
   border-radius: 0px;
   margin-left: -50px;
   margin-top: -50px;
 }
 .trebovaniya > div{
   width: 200px;
   height: 200px;
   overflow: hidden;
 }
 .trebovaniya > div:nth-child(1){
  border-radius: 50% 100%;
  animation-name: d1, shadow_text;
  animation-duration: 1s, 6s;
  animation-iteration-count: 1, infinite;
}
 .trebovaniya > div:nth-child(2){
   border-radius: 100%;
   opacity: 0;
   animation-name: d2, shadow_text;
   animation-duration: 1s, 6s;
   animation-iteration-count: 1, infinite;
   animation-fill-mode: forwards;
   animation-delay: 1.5s;

 }
 .trebovaniya > div:nth-child(3){
   border-radius: 100% 50%;
   animation-name: d3, shadow_text;
   animation-duration: 1s, 6s;
   animation-iteration-count: 1, infinite;

 }
 .d1, .d2, .d3 {
   width: 400px;
   height: 400px;

 }
 .trebovaniya a{
   width: 60%;
   display: flex;
   height: 60%;
   align-items: center;
   justify-content: center;
 }

  .first{
    position: absolute;
    animation: 5s firstss  forwards;
  }

 .second{
   animation: 5s secondss forwards;
   position: absolute;
 }

 @keyframes firstss {
   0%{opacity: 1}
   70%{opacity: 1}

   100%{opacity: 0}
 }
 @keyframes secondss {
   0%{opacity: 0}
   70%{opacity: 0}

   100%{opacity: 1}
 }

 @keyframes d1 {
   0%{transform: translateX(-1000px)}
   100%{transform: translateX(0px)}
 }
 @keyframes d3 {
   0%{transform: translateX(1000px)}
   100%{transform: translateX(0px)}
 }
 @keyframes d2 {
   0%{opacity: 0}
   100%{opacity: 1}
 }
  @keyframes trebovaniyaUp {

  }


 @media (min-width: 320px) and (max-width: 900px)
 {
  .trebovaniya{
    display: flex;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
  }

   .trebovaniya > div:nth-child(1), .trebovaniya > div:nth-child(2),.trebovaniya > div:nth-child(3)
   {
      width: 100%;
      height: 20%;
      border-radius: 10px;

   }

   .trebovaniya div:nth-child(1)
   {


   }
   .trebovaniya div:nth-child(2)
   {

   }
   .trebovaniya div:nth-child(3)
   {

   }
   .trebovaniya>div>div{
     border-radius: 10px;
     width: 100%;
     height: 150px;
     margin: 0;
     padding: 0;

   }
   .trebovaniya a{
     width: 100%;
     display: flex;
     height: 100%;
     align-items: center;
     justify-content: center;
   }
 }

</style>
