<template>
  <section>
    <h1>Условия приема.</h1>

    <h3>Что предлагаем:</h3>
    <table>
      <tbody>
      <tr>
        <td>КХ</td><td>Каждую субботу в 17:30, время прохождения 1:10 - 1:30, возможны переносы в связи с рейтами.</td>
      </tr>
      <tr>
        <td>Сторона севераных земель: </td><td>Боги</td>
      </tr>
      <tr>
        <td>БЗР</td><td>Проводится.</td>
      </tr>
      <tr>
        <td>Конкурсы</td><td>Проводятся</td>
      </tr>
      <tr>
        <td>Обучения</td><td>Проводятся, с TeamSpeak</td>
      </tr>
      <tr>
        <td>Помощь с небом/данжами</td><td>Присутсвует</td>
      </tr>
      </tbody>

    </table>


    <h3>Условия:</h3>
    <table class="terms">
      <tbody>
        <tr>
          <td>Уровень</td><td>100+, 2рб</td>
        </tr>
        <tr>
          <td>Боевые характеристики (БХ)</td><td>160+ без бафов<sup>*</sup></td>
        </tr>
        <tr>
          <td>Возраст</td><td>Желательно 20+</td>
        </tr>
        <tr>
          <td>Наличие в косах других ГИ:</td><td>Нет, обсуждается отдельно</td>
        </tr>
        <tr>
          <td>Наличие в косах других ГИ:</td><td>Нет, обсуждается отдельно</td>
        </tr>
        <tr>
          <td>Позитивный настрой</td><td>Обязательно</td>
        </tr>

      </tbody>

    </table>
    <p>
      <sup>*</sup> Все критерии могут обсуждаться отдельно, при условии заинтересованности, а так же в зависимости от класса персонажа.
      <br>
      По вопросам приема можете обращаться любым доступным способом: <nuxt-link to="/contacts" style="color: red">Контакты</nuxt-link>
    </p>

    <br>
    <hr>
    <the-reception-ban  v-if="useRole().value >= 6"/>


  </section>
</template>

<script setup>





import TheReceptionBan from "../components/TheReceptionBan";
</script>


<script>
export default {
  name: "terms"
}
</script>

<style scoped>
h3{
  text-align: center;
  margin: 30px 0 10px 0;
}
table{
  max-width: 700px;
  margin: 0 auto;
}
table td{
  width: 50%;
}
table td:nth-child(1){
  border-right: 1px solid white;
}
p{
  text-align: center;
}
</style>