<template>
  <div>
      <pre>
        <h1>Устав Клана StartUP.</h1>
        Устав является основным сводом правил гильдии StartUP, определяет структуру, задачи и правила обязательные для исполнения любым членом гильдии. Соблюдение правил, предусмотренных в данном Уставе, является обязательным для ВСЕХ без исключения членов гильдии. Каждый соклан является частью клана и обладает правами, наравне с остальными, за исключением прав данных и возложенных на конкретных членов гильдии дополнительно. Устав является последней инстанцией для апелляции при разрешении всех разногласий и споров возникающих внутри гильдии.
      </pre>
      <div class="select_pp">
        <label>Быстрый выбор: </label>
        <select v-model="pp">
          <option value="all">Все пункты устава</option>
          <option value="1">1. Общая часть</option>
          <option value="2">2. Обязанности</option>
          <option value="3">3. Права</option>
          <option value="4">4. Запреты</option>
          <option value="5">5. Внешняя политика гильдии</option>
          <option value="6">6. Структура клана</option>

        </select>
      </div>
      <div class="ustav">
        <pre v-if="pp==1 || pp=='all'">
          <h3 class="animation-bg-box">1.Общая часть</h3>
          1.1. StartUP – PvE-направленная гильдия, целью существования которой является развитие навыков командной игры при прохождение подземелий (в том числе, с применением голосовых программ наподобие Teamspeak) и создание наиболее комфортной внутригрупповой атмосферы для получения участниками максимального удовольствия от игры.
          1.2. Обязательными условиями для вступления в гильдию является общая адекватность, умение и желание играть в команде, а также готовность безоговорочно исполнять правила, прописанные в данном уставе.
          1.3. Возраст игрока строго не регламентируется, но приоритет отдается взрослым людям (от 20 лет и выше). К тому же уровень персонажа должен быть не ниже 2рб100+ (исключение: уровень персонажа может быть и ниже, если есть поручитель из состава гильдии).
          1.4. Выход и исключение из гильдии:
          1.4.1. При выходе из гильдии игрок обязан сообщить об этом Главе гильдии или Зам МГ.
          1.4.2. Исключение игрока из состава гильдии решается либо Советом офицеров, либо Главой гильдии.
          1.4.3. Перед выходом игрок обязан вернуть все долги гильдии или определенному ее члену (под долгами подразумевается взятые на время суммы денег, вещи и т.д.). Выплата долга может происходить как непосредственно кредитору, так и любому уполномоченному на то лицу (для случаев когда кредитор недоступен по каким либо причинам).
          1.4.4. В случае исключения игрока из гильдии за серьезные нарушения, решением Главы гильдии или решением Совета офицеров имя игрока может быть занесено в чёрный список игроков.
          1.4.5. Твины исключаются через 2-3 месяца отсутствия в игре, основные персонажи - через 1-2 месяцев. Если игрок знает заранее, что будет отсутствовать в течение определенного времени, он должен предупредить об этом Главе гильдии или Зам МГ, в таком случае место за ним в гильдии остается.
          1.4.6. Возврат в гильдию после выхода будет рассматриваться для каждого случая отдельно.
          1.5. Все спорные ситуации в гильдии решаются согласно данному уставу Советом Офицеров и Главой гильдии.
          1.6. Любые слова, сказанные любым членом гильдии, кроме Главы гильдии и члена Совета офицеров, считаются его личным мнением и не более того. Вышесказанное, однако, не означает, что член гильдии, чувствуя свою безответственность, вправе оскорблять кого-либо.
          1.7. Реальность превыше PW, игрок не может быть наказан или оскорблен за невозможность присутствия в игре, по любой причине связанной с реальной жизнедеятельностью и не обязан ежедневно появляться в игре.
            </pre>

        <pre v-if="pp==2 || pp=='all'">
          <h3 class="animation-bg-box">2.Обязанности.</h3>
      2. Если игрок не может (или не хочет) выполнять те или иные поручения или обязанности, насильно заставлять его никто не должен. Если пребыванием в гильдии ограничивается общественная жизнь – ограничиваются и права игрока внутри коллектива. Полное игнорирование Устава гильдии ведет за собой последствия в виде изгнания из Гильдии.
      2.1. Относиться с уважением к своим соратникам и лицам других фракций, соблюдать правила общения в гильдейском чате.
      2.2. Выполнять приказы Главы гильдии и Совета офицеров. Слово Главы - это слово Гильдии. Приказы Главы гильдии являются последним и окончательным решением и должны выполнятся немедленно. Все предложения, несогласия, критика, личное мнение по поводу приказов – обсуждаются в личном порядке с Главой гильдии.
      2.3. Вместе с другими игроками способствовать развитию и процветанию гильдии.
      2.4. Посещать заранее объявленные события, собрания, а также мероприятия объявленные непосредственно во время игры, в ввиду непредвиденных обстоятельств (недостаток состава в пати и прочие "форс-мажоры"). Активность игрока не должна быть разовой. Больше активности - выше права в гильдии.
      2.5. Придерживаться внутренней субординации (не исключая офицеров).
      2.6. Как можно чаще посещать игровой мир (особенно в назначенное Главой гильдии время ).
      2.7. Установить и настроить выбранный Главой гильдии и Советом офицеров войс (голосовую программу, н-р, Teamspeak).
      2.8. Всегда стремиться и учиться играть лучше или, как минимум, иметь желание научиться играть, желание помогать и делиться опытом, быть адекватным и понимающим игроком.
      2.9. Оказывать посильную помощь и поддержку другим игрокам гильдии, не требуя обратного взамен.
      2.10. Руководствоваться принципом "Я для StartUP - StartUP для меня" (особенно важно для банка гильдии).
      </pre>

        <pre  v-if="pp==3 || pp=='all'">
          <h3 class="animation-bg-box">3. Права членов клана.</h3>
      3.1. Рассчитывать на уважительное отношению к себе и своему игровому времени.
      3.2. Рассчитывать на бесплатный крафт вещей от крафтеров гильдии с предоставлением им необходимых ресурсов.
      3.3. Получить помощь при выполнении сложных заданий и прохождении трудных подземелий.
      3.4. Пользоваться бесплатно гильдейским банком, соблюдая правила.
      3.5. Рассчитывать на получение информации по Perfect World от игроков гильдии.
      3.6. Выдвигать свои предложения по улучшению гильдии.
      3.7. Оспаривать действия любых членов гильдии, не зависимо от занимаемой должности, если они противоречат правилам Уставу гильдии.
      3.8. Требовать разъяснения любой спорной ситуации по общим вопросам у любого офицера гильдии, а по специфическим вопросам - у игроков, занимающих соответствующую должность при условии его (игрока) ознакомления с Уставом и положениями гильдии.
      3.9. На повышение звания и дальнейшее участие в управлении гильдией в составе Совета офицеров.
      3.10. Беспрепятственно выйти из состава гильдии, расплатившись с долгами.
      3.11. При повышении звания игрок имеет право на достойное награждение от гильдии по итогам деятельности в своей должности.
      </pre>
        <pre v-if="pp==4 || pp=='all'">
          <h3 class="animation-bg-box">4. Запреты</h3>
      4. Внутри гильдии строжайше запрещено:
      4.1. Изъяснятся используя нецензурную лексику в чате гильдии, оскорблять других игроков.
      4.2. Производить какие-либо рекламные операции коммерческого уклона (имеется в виду "спам" в ги-чате), а также обманывать других после совершения сделок внутри гильдии (на вещи и пр.).
      4.3. Высказывать свое недовольство устройством и организацией гильдии в гильдейском чате - все жалобы предложения и дополнения излагайте в группе вк, либо личным сообщением Главе гильдии или офицерам.
      4.4. Объявлять войну другим гильдиям, действовать от имени гильдии, а также совершать действия порочащие репутацию гильдии, угрожать основами (если имеются в другом клане).
      4.5. Запрещены высказывания от лица гильдии. От лица гильдии говорит только Глава или уполномоченный представитель, назначенный Главой.
      4.6. Начинать/вести/подначивать расовые, ориентационные, религиозные, политические споры в гильдийском чате, в беседке вк, а так же в голосовй программе.
      4.7. Разводить и поддерживать ссоры в гильд-чате (независимо от лексики), подстрекать к ссорам. Все проблемы нужно решать либо лично (в ПМ, в войсе тет-а-тет), либо с помощью Администрации гильдии.
      4.8. Писать БОЛЬШИМИ БУКВАМИ в чате гильдии специально и часто, если вы не в Совете и не Глава. Капсят только офицеры и Глава для того, чтобы все могли видеть объявления и важную информацию.
      4.9. Запрещено снимать щиты на соклан, на всех ивентах, кроме подразумевающих ПВП контент, FreePVP, договорных боях, места логального сокланового PVP.
        </pre>
        <pre v-if="pp==5 || pp=='all'">
          <h3 class="animation-bg-box">5. Внешняя политика гильдии</h3>
          5.1. Членам гильдии запрещено сливать персонажей ниже уровня/слабее ради личной выгоды если персонаж не состоит в <nuxt-link to="/diplomacity/kos" class="animation-bg-box" style="color: red">Косе-листе</nuxt-link>.
      5.2. Членам гильдии запрещено без весомых оснований нападать на других игроков, в том числе и не являющихся членами какой либо гильдии.
      Штраф за необоснованное нападение на игрока находящегося в другой гильдии или необоснованное нападение на игрока не являющегося членом какой либо гильдии - 3кк.
      Штраф за необоснованное нападение на согильдейца, даже в шутку - 5кк. Случайные агры рассматриваются в индивидуальном порядке.
      Основания дла нападения:
      -Персонаж состоит в <nuxt-link to="/diplomacity/kos" class="animation-bg-box" style="color: red">Косе-листе</nuxt-link> гильдии.
      -Персонаж состоит во враждебно настроенной гильдии.
      -Получение разрешения от Главы гильдии на атаку конкретного персонажа.
      -Персонаж намеренно создает помехи для вас или вашего соклана.
      5.3. О всех случаях конфликтов члены гильдии должны незамедлительно сообщить Главе гильдии или его заместителю/дипломату/офицеру.
      5.4. О всех случаях нападения на членов гильдии:
          5.4.1 Сделать скриншот, где виден напавший персонаж.
          5.4.2 При желании можно дать отпор, если агр был целенаправленным и на локации не происходили сражения других ГИ.
          5.4.3 Если не вышло дать отпор или вышло - то не оскорбляя ни в мир, ни в пм, даже если были оскорбления в вашу сторону, уточнить причину агра.
          5.4.4 После окончания стычки или после первой смерти - обязательно сделать скриншот, крайне желательно с календарем (где берется ежедневная регистрация) и с вашим убийством/логом урона/выпавшими вещами.
          5.4.5 Сообщить Главе гильдии или его заместителю/дипломату/офицеру находящемуся в сети.
      5.5. Запрещен слив/отжатие спотов мобов на ДЗ любым способом, например вставая на спот с выключенными щитами.
      5.6. Разрешается, в некоторых случаях, стоять на спотах с выключенными щитами, но на белых персонажей должны быть проставлены.
      5.7. Запрещено асистить персонажам, не состоящим в нашей ГИ и дерущимися с другими кланами/игроками.
      5.8. Во время проведения ивента Битва за ресурсы, атаковать персонажей, находящихся на вашей точке респа Склада или Хранилища можно с момента начала ивента, атаковать персонажей не учавствующих в ивенте (оранжевая надпись клана), а так же беспричинно после захвата всех складов/достижения лимита - ЗАПРЕЩЕНО, если персонаж не проявляет враждебности.
      К вышеперечисленному не относятся зоны Free-PvP.
      5.8. Зоны Free-PvP:
          Общепризнанные зоны:
          <ul>
            <li> Запад Города Драконов</li>
            <li> Поселок у Озера</li>
            <li> Событие "Битва фракций" (Морай)</li>
            <li> Событие «Атака тигров небожителей»</li>
            <li> 14, 34, 58 комнаты куба</li>
            <li> Места респа мировых боссов</li>
            <li> Событие «Арена героев»</li>
            <li> Межсерверная локация "Северные земли"</li>
          </ul>
      <b style="color: red; text-shadow: 1px 1px white; font-size: 1.1em">ЗАПРЕЩЕНО сливать ботов и мешать делать квесты во Free-PVP зонах!</b>
      </pre>
        <pre v-if="pp==6 || pp=='all'">
          <h3 class="animation-bg-box">6. Структура руководства клана</h3>
      6.1. Глава гильдии.
      6.1.1. Обязанности:
      - Глава - лицо гильдии, его руководитель и представитель в PW.
      - Глава формирует Совет.
      - Глава определяет внутреннюю и внешнюю политику гильдии.
      - Глава осуществляет общее управление и координацию действий членов гильдии.
      - Глава разрешает спорные ситуации, возникающие в гильдии.
      - Глава всегда доступен к общению и передачи информации всем членам гильдии.
      6.2. Заместитель Главы (Маршал).
      6.2.1. Обязанности:
      - Исполнять обязанности Главы в его отсутствие.
      - Выполнять другие обязанности возложенные Главой.
      6.2.2. Права:
      - Заместитель Главы имеет право вносить предложения о принятии новых положений в Уставе гильдии, заключении соглашений с другими гильдиями, принятии и исключении членов гильдии, а также участвовать в обсуждении всех вышеперечисленных вопросов.
      6.3. Совет гильдии (Майоры, Капитаны).
      6.3.1. Обязанности:
      - Совет - главный исполнительный орган власти в гильдии.
      - Совет осуществляет исполнение принятых положений Устава гильдии.
      - Члены совета должны быть примером для остальных членов гильдии.
      - Члены совета обязаны установить и настроить выбранный Главой гильдии и Советом голосовую программу, н-р, Teamspeak) и быть доступными к общению и обсуждению в нужное время.
      6.3.2. Права:
      - Все члены совета имеют право вносить предложения о принятии новых положений Устава гильдии, заключении соглашений с другими гильдиями, принятии и исключении членов гильдии, а также участвовать в обсуждении всех вышеперечисленных вопросов.

      </pre>
      </div>


      <hr>
      <br>
    &nbsp;&nbsp;&nbsp;&nbsp;Незнание Устава не освобождает от ответственности
      <br><br>

  </div>
</template>

<script setup>


useHead({
  title:"ГИ StartUP | Устав",
  meta:[
    { property: 'og:title', content: 'ГИ StartUP | Устав' }
  ]


})
</script>

<script>
export default {
  data(){
    return{
      pp:'all'
    }
  }

}
</script>

<style scoped>
.select_pp{
  display: inline-flex;
  max-width: 300px;
  margin-left: 15px;
}
.select_pp > * {
  width: max-content;

}
select {


}
h1{
  text-align: center;
}

pre{
  color: white;
  white-space: pre-line;

  font-size: 1.1em;

  padding: 20px;
}
ul{
  margin-left: 30px;
  white-space: normal;
}

</style>